@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');



body{
    background-color: #22254b;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


.container{
    margin: 0px;
}

header{
    padding: 15px;
    display:flex;
    column-gap: 20px ;
    background-color: #373b69;
    align-items: center;
}

#h2{ 
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#ffff;
    margin: 5px;   
}
h3{ 
    font-size: 24px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    color:black;
    margin: 5px;   
}

:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; 
  line-height: 1;
  
}

#carousel-items{
    position: relative;
}

.ratings{
    position: absolute;
    top: 0;
    display: flex;
    column-gap:20px;
}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.row{
    max-width:none;
    margin: 0px;
}
.card{
    padding: 10px;
    border-radius: 20px;
    

}
#main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}
#movieimage{
    max-width: 80%;
}

#cast_data{
    display: flex;
    flex-wrap: wrap;
}
.cast_data{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: max-content;

    padding: 16px 8px;
    margin: 1rem 1rem 1rem 0;
}


.cast_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:solid black 2px;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cast_name{
    padding: 05px;
    font-size: 18px;
}

.fa-arrow-circle-o-left:before{
    font-size: 28px;
}